/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* -------------------以上reset CSS------------------ */

/*-----------------index start------------------------------*/
.wrap{
    max-width: 1024px;
    margin: 0 auto;
    background-color: rgb(236, 232, 229);
    font-family: 微軟正黑體;
    color:rgb(61, 17, 1);
}
.header{
    height:420px;
    background: url(../img/header_desktop.png);
    background-attachment:fixed;
    background-position: top center;
}
@media(max-width:414px){
  .header{
    background: url(../img/header_mobile.png);
    background-attachment:fixed;
    background-position: top center;
  }
}
.header a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.navbar{
    background: rgba(0,0,0,0.75);;
    height:56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 30px;
}
.top-logo a{
  display: block;
  width: 120px;
  height: 24px;
  background: url(../img/logo_w.png) no-repeat;
  background: url(../img/logo_w.svg) no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
}
.navbar ul li a{
    padding:20px 15px; 
    font-size: 16px; 
}
.navbar ul li a:hover{
  background-color: rgba(255, 255, 255, 0.52);
}

@media(max-width:768px){
  .navbar ul{
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.95);    
    text-align: center;
    position: absolute;
    right:0;
    top:56px;
    height: 0px;
    transition: height .3s;
    overflow: hidden;
  }
  .navbar ul li a{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 90px;
    letter-spacing: 1.1em;
  }
  .no-border{
    border-bottom: none!important;
  }
  .show-menu{
    height: 305px!important;
  }
}

.menu-btn-line{
  background-color:#ffffff;
  width:27px;
  height:3px;
  border-radius: 3px;
  margin-top:5px;
}
.menu-btn{
  display: none;
  margin-top:-3px;
}
.menu-btn a{
  padding: 10px 5px;
}
@media(max-width:768px){
  .menu-btn{
    display: block;
  }
}
.slogan{
    background: rgba(0,0,0,0.35);
    width: 460px; 
    color: #ffffff;
    font-size: 1em; 
    text-align: center;
    margin:70px auto;
}
.slgn1{
    font-size: 36px!important;
    padding-top: 30px;
}
.slgn2{
    line-height: 1.5em;
    padding-top: 25px;
    padding-bottom: 30px;
}
.pd-lr{
    padding-left:3px;
    padding-right:3px;
}
@media(max-width:414px){
  .slogan{
    width:90%;
    font-size: 1.1em;
  }
  .slgn1{
    font-size: 1.4em!important;
  }

}
/*--------------以上header-----------------*/
.in_tilte_line{
  width:100px;
  height:0.5px;
  background-color: rgb(110, 63, 46);
}
@media(max-width:568px){
  .in_tilte_line{
    display: none;
  }
}
.in_tilte {
  display: flex;
  align-items: center;
  max-width:450px;
  margin:50px auto 40px auto;
  line-height: 2em;
}
#speciality{
  text-align: center;
  margin:0 15px;
  font-size: 22px;
  font-weight: 600;
}
@media(max-width:568px){
  #speciality{
  display: block;
  margin:0 auto;
  }
}
.intro_article{
  display: flex;
  justify-content: space-evenly;
}
.intro_article li{
  width:26.66667%;
  text-align: center;
}
@media(max-width:667px){
  .intro_article{
    flex-direction: column;
    align-items: center;
  }
  .intro_article li{
    width:80%;
  }
}
.intro_article li h3{
  padding:15px 0;
}
.intro_article li p{
  line-height: 1.4em;
  padding-bottom: 70px;
  padding-left: 10px;
  text-align: left;
}
.intro_article img{
  width:200px;
  height: 200px;
  border-radius: 50%;
  margin:0 auto;
}

.sec-chef{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#3D1101 ;
}
#chef-pic{
  width:470px;
  height: 460px;
  background: url(../img/main_chef_brown.png);
  background-position: center center;
  margin-right:30px;
}
@media(max-width:768px){
  #chef-pic{
    margin-right:10px;
    margin-left:10px;
  }
}
@media(max-width:667px){
  .sec-chef{
    flex-direction: column;
  }
  #chef-pic{
    margin-bottom: 30px;
  }
}
@media(max-width:414px){
  #chef-pic{
    width:320px;
  
  }
}
.chef-intro{
  max-width: 400px;
  color:#ffffff;
}
@media(max-width:667px){
  .chef-intro{
    max-width:470px;
    padding-bottom: 30px;
  }
}
.chef-intro h2{
  font-size: 20px;
  line-height: 1.5em;
}
.chef-intro p{
  line-height: 1.5em;
}
@media(max-width:768px){
  .chef-intro h2{
    margin-left:10px;
  }
  .chef-intro p{
    font-size:16px;
    margin-right:10px;
    margin-left:10px;
  }
}
/*-------------以上content>intro-------------------*/
.review{
  padding-bottom: 30px;
}
.review h3{
  font-size: 24px;
  font-weight: 600;
  margin:50px 0 35px 0;
  text-align: center;
}
.review-ctn{
  display: flex;
  justify-content: space-evenly;
}
.sec-review{
  width: 28.6667%;
  display: flex;
}
@media(max-width:667px){
  .review-ctn{
    flex-direction: column;
    align-items: center;
  }
  .sec-review{
    width: 80%;
  }
}
.sec-review img{
  width:67px;
  height:67px;
  border-radius: 50%;
}
.review-right{
  max-width:225px;
  margin-left: 15px;
}
@media(max-width:667px){
  .review-right{
    max-width:80%;
  }
}
.review-tlt{
  font-size: 18px;
  line-height: 63px;
}
.review-p{
  line-height: 1.5em;
}
@media(max-width:768px){
  .review-p{
    margin-left: -70px;
    padding-top: 10px;
  }
}
@media(max-width:667px){
  .review-p{
    margin-left: 0;
  }
}
.review-name{
  color:rgba(61, 17, 1, 0.7);
  line-height: 3em;
  text-align: right;
}
/*-------------以上content>review-------------------*/
#reserve{
  background: rgba(250, 250, 250,.7) ;
  padding-left:10px;
  padding-right: 10px;
}
#reserve h2{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  line-height: 1.5em;
  padding:45px 0 35px 0;
}
.map-pic{
  width:462px;
  height:388px;
  background: url(../img/Map.png)no-repeat;
  background-position: center center;
  border: 1px solid rgb(175, 175, 175);
}
@media(max-width:414px){
  .map-pic{
    background-size: 462px 388px;
    width: 298px;
    height: 386px;
  }
}
.reserve-ctn{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 35px;
}
.form-style{
  width: 450px;
  margin-left: 15px;
}
@media(max-width:667px){
  .reserve-ctn{
    flex-direction: column;
    align-items: center;
  }
  .form-style{
    margin-top: 20px;
    margin-right:10px;
  }
}
@media(max-width:414px){
  .form-style{
    width:90%;
  }
}

.form-style input[type=text],.form-style input[type=tel],
.form-style input[type=email],.form-style input[type=number]{
  width: 100%;
  margin: 7px 0 15px 0!important;
}
.form-style fieldset{
  padding-top:0!important;
}
.radio-style{
  display: flex;
}
.radio-style input[type=radio]{
  margin:7px 40px 6px 5px;
}
@media(max-width:768px){
  .radio-style input[type=radio]{
    margin-right:20px;
  }
}
.form-btn-style{
  float:right;
}
.btn-gry{
  width:70px;
  border-radius: 3px!important;
  background-color: rgb(139, 139, 139)!important;
  color: #ffffff!important;
  margin-right: 7px;
}
.btn-org{
  width:70px;
  border-radius: 3px!important;
  background-color: rgb(230, 119, 45)!important;
  color: #ffffff!important;
}
@media(max-width:480px){
  .btn-org{
    margin-top:0!important;
  }
}
/*-------------以上content>reserve-------------------*/
.footer{
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}
.abt-us,.contact{
  width:28.667%;
}
.ft-logo-sns{
  width:28.667%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media(max-width:667px){
  .footer{
    flex-direction: column;
    align-items: center;
  }
  .abt-us,.contact,.ft-logo-sns{
    width:80%;
    margin-bottom: 35px;
  }
}
.abt-us h3,.contact h3{
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}
.abt-us p,.contact a,.contact span{
  line-height: 1.5em;
  text-decoration: none;
  color:#3D1101;
}
.contact i{
  margin-right:10px;
}

.ft-logo{
  display: block;
  width: 243px;
  height: 48px;
  background: url(../img/logo_l.png) no-repeat;
  background: url(../img/logo_l.svg) no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.ft-logo-sns li{
  float:left;
}
.ft-logo-sns>ul>li>a{
  display: block;
  font-size:35px;
  text-decoration: none;
  margin-left: 15px;
  margin-top:25px;
}
.sns-gp{
  color:#DB4437;
}
.sns-tw{
  color: #41ABE1;
}
.sns-fb{
  color: #3A5795;
}

/*-------------以上footer-------------------*/

.top-icon{
  position: fixed;
  bottom: 2%;
  right:1%;
  font-size: 40px;
  text-decoration: none;
  color:rgb(160, 160, 160)
}

/*-----以上scrollTop--------*/
/*-----------------index end------------------------------*/

/*-----------------order start------------------------------*/
.o-content{
  display: flex;
  justify-content: space-evenly;
  margin-top:40px;
}
@media(max-width:667px){
  .o-content{
    flex-direction: column;
    align-items: center;
  }
}
.o-content a{
  text-decoration: none;
  color:rgb(61, 17, 1) ;
}
/*----以上order頁面整體----*/
.left-col{
  width:23%;
  padding:0 15px;
}
@media(max-width:667px){
  .left-col{
    width:80%;
  }
}
.order-title{
  display: flex;
}
.turn-left{
  transform: rotate(-25deg);
  font-size: 1.1em;
  margin-top:-1px;
  text-indent: 5px;
}
.order-title h2{
  font-size: 1.2em;
  font-weight: bold;
  margin-left:3px;
  margin-bottom: 15px;
}
.order-menu a{
  display: block;
  padding:7px;
  border-bottom: 1px solid #3D1101;
}
@media(max-width:667px){
  .order-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .order-menu li{
    width:47%;
  }
}
@media(max-width:568px){
  .turn-left{
    font-size: 1.3em;
  }
  .order-title h2{
    font-size: 1.5em;
  }
  .order-menu a{
    display: block;
    padding:10px;
  }
}
@media(max-width:414px){
  .order-menu li{
    width:100%;
  }
}
.order-menu a:hover,.order-menu a.active{
  background-color:#3D1101 ;
  color:#ffffff;
}
/*----以上左側選單----*/

.right-col{
  width:70%;
  padding:0 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media(max-width:667px){
  .right-col{
    width:80%;
  }
}
@media(max-width:414px){
  .right-col{
    flex-direction: column;
    align-items: flex-end;
  }
}

.search-bar{
  display: flex;
  width:65%;
}
@media(max-width:768px){
  .search-bar,.cart-bar{
    margin-top: 30px;
  }
}
@media(max-width:414px){
  .search-bar{
    width:100%;
  }
}
#food-search{
  width:100%;
  height: 32px;
  border: 1px solid #3D1101;
  background-color: rgba(255, 255, 255, .8);
  padding: 0!important;
}
.search-btn{
  width:36px;
  height: 34px;
  border: 2px solid #3D1101;
  background-color:#3D1101;
  color:rgb(255, 255, 255);
  margin-left: -4px;
}

.o-content button{
  cursor: pointer;
}
.cart-bar{
  display: flex;
  align-items: center;
  position: relative;
}
@media(max-width:667px){
  .cart-bar{
    margin-top:30px;
  }
}

.cart-bar p a{
  padding: 5px 5px;
  margin-right:10px;
}
.cart-bar p a:hover{
  font-weight: bold;
  color:#FF5E45;
}
.cart-line{
  width:1px;
  height: 14px;
  background-color:#3D1101;
  margin-right:10px;
}
.cart-btn{
  font-size: 1.3em;
  padding: 5px 5px;
}
.cart-btn:hover{
  color:#FF5E45;
}
.count{
  position: absolute;
  right:0;
  top:1px;
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color:#FF5E45;
  color:#EFE9E7;
  font-size: 13px;
  text-align: center;
}
.product-set{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top:30px;
}
.product-set li{
  width:30.6667%;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
  position: relative;
}
@media(max-width:768px){
  .product-set li{
    width:48%;
  }
}
@media(max-width:568px){
  .product-set{
    justify-content:center;
  }
  .product-set li{
    width:80%;
  }
}
@media(max-width:568px){
  .product-set li{
    width:90%;
  }
}
.product-set li img{
  width:100%;
  margin-bottom: 10px;
}
.p-title-m{
  font-size:20px;
  line-height: 1.3em;
}
.p-title-e{
  font-size:12px;
  line-height: 1.5em;
}
.p-line{
  width: 90px;
  height: 1px;
  background-color:#3D1101;
  margin:10px auto 20px auto;
}
.p-price{
  font-family: 'Roboto', sans-serif;
  font-size:20px;
}
.plus-cart{
  color:#FF5E45!important;
  border: 2px solid #FF5E45;
  border-radius: 3px;
  padding:5px;
  margin:10px;
  width:90%;
}
.product-set button.active{
  color:rgb(255, 255, 255)!important;
  background-color:#FF5E45;
}
.plus-cart i{
  margin-right:7px;
}
.heart-icon{
  color:#ffffff;
  position: absolute;
  top:10px;
  left:10px;
}
.ribbon-wrap{
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: -5px;
  right: -5px;
}
.ribbon{
  position: relative;
  left: -12px;
  top: 26px;
  width: 150px;
  background-color: #00CC99;
  color: #ffffff;
  padding: 5px 0;
  text-align: center;
  transform: rotate(45deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.ribbon::before {
  content:"";
  border-top: 4px solid rgb(5, 148, 112);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  bottom: -4px;
  left: 6px;
}
.ribbon::after {
  content:"";
  border-top: 4px solid rgb(5, 148, 112);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  bottom: -4px;
  right: 8px;
}
/*----以上右側產品區----*/
/*-----------------order end------------------------------*/
/*-----------------login start------------------------------*/
.l-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:50px 0 10px;
}
.r-descript{
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 2em;
}
.l-form-style{
  margin:20px 10px 0;
  padding: 10px;
  border-top: 3px solid #FF5E45;
  box-shadow: 3px 3px 4px 2px rgba(0,0,0,0.16);
}
.l-form-style legend{
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;  
  font-size: 18px;
  color: #3D1101;
}
.l-form-style input[type=email],.l-form-style input[type=password]{
  width:270px;
  height: 35px;
  padding-left: 35px;
}
.l-form-style label[for=stacked-password]{
  margin-top:20px;
}
.red{
  color:red;
}
.forget-pw{
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #FF5E45;
  padding-bottom: 15px;
}
.mail-set,.pw-set{
  position: relative;
}
.mail-icon,.pw-icon{
  position: absolute;
  top:10px;
  left:12px;
  color: rgba(61,17,0,0.50);
}
.l-buttons{
  display:flex;
  justify-content: space-between;
}
.lgn-btn,.rgs-btn,.r-rgs-btn{
  width:125px;
  height: 35px;
  border-radius: 3px;
}
.rgs-btn{
  background: rgba(0,0,0,0.35)!important;
}
.lgn-btn,.r-rgs-btn{
  background: #F56C23;
  margin:0!important;
}
/*-----------------login end------------------------------*/
/*-----------------register start------------------------------*/

.r-container{
  display: flex;
  justify-content: space-evenly;
}
.agreement{
  max-width:270px;
  padding:0 10px;
  line-height: 1.5em;
}
@media(max-width:414px){
  .r-container{
    flex-direction: column;
  }
  .agreement{
    margin-bottom: 30px;
    padding:0;
  }
}
.agreement span{
  font-size: 18px;
  font-weight: 600;
}
.r-right-col{
  padding: 0 10px;
}
@media(max-width:414px){
  .r-right-col{
    padding: 0;
  }
}
.re-pw {
  margin-top:10px;
}
.r-rgs-btn{
  float:right;
}
